@import '~@angular/material/theming';
@import '../_variables.scss';
$theme-default-primary: mat-palette($mat-indigo);
$theme-default-accent: mat-palette($mat-red, A700, 600, 900);
$theme-default-warn: mat-palette($mat-deep-orange);
// create theme (use mat-dark-theme for themes with dark backgrounds)
$default-theme: mat-dark-theme( $theme-default-primary, $theme-default-accent, $theme-default-warn);
.active[role="row"] {
  background-color: mat-color($theme-default-primary, 900); //color: $primary-color-bg-dark !important;
  transition: ease-in all 0.3s;
  .mat-cell {
    color: inherit !important;
  }
}

.disabled[role="row"] {
  color: mat-color($theme-default-primary, 100);
  transition: ease-in color 0.3s;
  .mat-cell {
    color: inherit !important;
  }
}

body {
  background-color: map-get($theme-default-primary, 800);
}
