@import '~@angular/material/theming';
@import '../_variables.scss';

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-red, A700, 600, 900);
$theme-warn: mat-palette($mat-deep-orange);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$default-theme: mat-dark-theme( $theme-primary, $theme-accent, $theme-warn );

.active[role="row"] {
  background-color: mat-color($theme-accent, 900);
  //color: $primary-color-bg-dark !important;
  transition: ease-in all 0.3s;

  .mat-cell {
    color: inherit !important;
  }
}

.disabled[role="row"] {
  color: mat-color($theme-primary, 100);
  transition: ease-in color 0.3s;

  .mat-cell {
    color: inherit !important;
  }
}
