<h2 mat-dialog-title>Tvg Sites</h2>
<div style="position:fixed">
    <mat-form-field floatPlaceholder="never">
        <input matInput placeholder="Filter tvg sites..." [(ngModel)]="query">
    </mat-form-field>
</div>
<mat-dialog-content style="margin-top:70px">
    <mat-selection-list #tvglist>
        <mat-list-option *ngFor="let tvg of tvgSites | search:'site':query" [selected]="tvg.selected" [value]="tvg" (click)="tvg.selected = !tvg.selected">
            {{tvg.site}} : {{tvg.country}}
        </mat-list-option>
    </mat-selection-list>
</mat-dialog-content>

<mat-action-row>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button mat-raised-button (click)="save()">Save</button>
</mat-action-row>
