<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="appveyor" value="https://ci.appveyor.com/nuget/fazzani" />
  </packageSources>
  <packageSourceCredentials>
    <appveyor>
      <add key="Username" value="fazzani.heni@outlook.fr" />
      <add key="ClearTextPassword" value="" />
    </appveyor>
  </packageSourceCredentials>
</configuration>