<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="appveyor" value="https://ci.appveyor.com/nuget/fazzani" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <appveyor>
      <add key="Username" value="builder@synker.ovh" />
      <add key="ClearTextPassword" value="" />
    </appveyor>
  </packageSourceCredentials>
</configuration>