[Unit]
    Description=Synker notfication broker (RabbitMQ)

    [Service]
    WorkingDirectory=/home/synker/synker.broker
    ExecStart=/root/dotnet/dotnet /home/synker/synker.broker/hfa.Notification.Brokers.dll
    Restart=always
    # Restart service after 10 seconds if dotnet service crashes
    RestartSec=10
    SyslogIdentifier=Synker Brokers
    User=root
    Environment=ASPNETCORE_ENVIRONMENT=Prod

    [Install]
    WantedBy=multi-user.target