<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Synker</title>
    <base href="~/" />
    <script charset="UTF-8" src="//cdn.sendpulse.com/9dae6d62c816560a842268bde2cd317d/js/push/356e5d90e34c37c7e8b28d468b4d1a57_1.js" async></script>
    <link rel="manifest" href="~/manifest.json">
    <data data-api-url="@ViewBag.ApiUrl" data-ws-url="@ViewBag.WsUrl" />
    <link href="~/dist/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
</head>
<body class="noselect">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>