@{
    ViewData["Title"] = "Home Page";
}

<app asp-ng2-prerender-module="ClientApp/dist/main-server"></app>
<div class="loading">
    <svg class="svg">
        <use xlink:href="/assets/img/Mj2wCGp6m8.svg#svg4619"></use>
    </svg>
</div>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
