<div fxLayout="column">
    <mat-toolbar color="custom" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill>
        <div style="display:flex; flex:1">
            <mat-form-field floatPlaceholder="never">
                <input matInput #filter placeholder="Filter hosts...">
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <a mat-icon-button>
                <mat-icon class="mat-24" aria-label="Update" matTooltip="Update" (click)="reload()">cached</mat-icon>
            </a>
        </div>
    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort class="noselect" [trackBy]="trackById" style="margin-bottom:62px">
        <!-- Generic column definition -->
        <ng-container *ngFor="let column of columnDefs" [matColumnDef]="column.columnDef">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span *ngIf="!column.isImage">{{ column.cell(row) }}</span>
                <img [src]="column.cell(row)" class="logo-grid" *ngIf="column.isImage" />
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openDialog(row)" matTooltip="Edit">
                    <mat-icon class="mat-24" aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="Remove">
                    <mat-icon class="mat-24" aria-label="">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [class.active]="row.selected" class="noselect"></mat-row>
    </mat-table>
    <div class="container footer" fxLayout="row">
        <mat-paginator fxLayoutAlign="end center" fxFlex #paginator class="noselect">
        </mat-paginator>

    </div>
</div>