<h2 mat-dialog-title>Register</h2>
<form #UserRegister="ngForm" (ngSubmit)="register(UserRegister.form.value)" novalidate>
    <mat-dialog-content fxLayout="column">
        <div fxLayout="row">
            <mat-select placeholder="Gender..." [(ngModel)]="gender" name="gender">
                <mat-option *ngFor="let gender of data.genders" [value]="gender.value">
                    {{ gender.viewValue }}
                </mat-option>
            </mat-select>
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <input matInput [(ngModel)]="firstname" name="firstname" placeholder="Firstname..." required #firstnameControl="ngModel">
                <mat-error *ngIf="firstnameControl.touched && firstnameControl.invalid">
                    <span *ngIf="firstnameControl.errors.required">firstname is required </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="lastname" name="lastname" placeholder="Lastname..." required #lastnameControl="ngModel">
                <mat-error *ngIf="lastnameControl.touched && lastnameControl.invalid">
                    <span *ngIf="lastnameControl.errors.required">lastname is required </span>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <input matInput [(ngModel)]="email" name="email" placeholder="Email..." required #emailControl="ngModel">
                <mat-error *ngIf="emailControl.touched && emailControl.invalid">
                    <span *ngIf="emailControl.errors.required">email is required </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" name="birthday" placeholder="Choose a Birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <img [src]="photo" class="logo-medium" />
            <input type="hidden" [(ngModel)]="photo" name="photo" />
            <button type="button" mat-button (click)="imgFileInput.click()">Add a photo</button>
            <input hidden type="file" #imgFileInput accept="image/*" (change)="changeListener($event)" name="image" />
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <input matInput [(ngModel)]="username" name="username" placeholder="Username..." required #usernameControl="ngModel">
                <mat-error *ngIf="usernameControl.touched && usernameControl.invalid">
                    <span *ngIf="usernameControl.errors.required">username is required </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" [(ngModel)]="password" validateEqual="confirmPassword" reverse="true" name="password" placeholder="Password..."
                       required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password..." validateEqual="password"
                       reverse="false" #confirmPasswordControl="ngModel" required>

                <mat-error *ngIf="confirmPasswordControl.touched && confirmPasswordControl.invalid">
                    <span *ngIf="confirmPasswordControl.errors.required">
                        Confirm password is required
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row">
        <button mat-raised-button routerLink="/signin" mat-dialog-close>Cancel</button>
        <button mat-raised-button [disabled]="!UserRegister.form.valid">Register</button>
    </mat-dialog-actions>
</form>