<div class="site-container">
    <mat-toolbar color="custom">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter medias...">
        </mat-form-field>
        <span class="spacer"></span>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </a>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </a>
    </mat-toolbar>
    <div class="example-loading-shade" *ngIf="dataSource.isLoadingResults">
        <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="position" matSortDisableClear matSortDirection="asc">
        <!-- position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> Position </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- group Column -->
        <ng-container matColumnDef="group">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.group}} </mat-cell>
        </ng-container>
        <!-- Lang Column -->
        <ng-container matColumnDef="lang">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lang </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lang}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="openDialog(row)">
                    <mat-icon class="mat-24" aria-label="Edit">edit</mat-icon>
                  </button>
                <button mat-icon-button color="primary" (click)="update(row)">
                    <mat-icon class="mat-24" aria-label="">favorite</mat-icon>
                  </button>
                <button mat-icon-button color="accent" (click)="update(row)">
                    <mat-icon class="mat-24" aria-label="">favorite</mat-icon>
                  </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.total" [pageIndex]="paginator.pageIndex" [pageSize]="paginator.pageSize" [pageSizeOptions]="paginator.pageSizeOptions">
    </mat-paginator>
</div>