<div class="navbar mat-app-background" color="primary">
  <a mat-button routerLink="/" aria-label="Synker">
    <span>Synker beta</span>
  </a>
  <!-- This fills the remaining space of the current row -->
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <a mat-button routerLink="/epg">Tv guide</a>
    <a mat-button routerLink="/sitepack">Sites Pack</a>
    <a mat-button routerLink="/admin">Admin</a>
  </div>
  <span class="fill-remaining-space"></span>
  <a mat-icon-button *ngIf="(isAuthenticated | async)" aria-hidden="true" routerLink="/messages">
    <span class="notif-number">{{messages?.rowCount}}</span>
    <mat-icon>notifications</mat-icon>
    <!--<span class="mderial-icons mdl-badge mdl-badge--overlap" matTooltip="You have {{messages?.rowCount}} messages !" [attr.data-badge]="messages?.rowCount">message</span>-->
  </a>

  <a routerLink="/me" class="dropdown-toggle" data-toggle="dropdown" *ngIf="(isAuthenticated | async)">
    <img [src]="(user | async)?.photo" class="profile-image img-circle">
  </a>
  <a mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(isAuthenticated | async)" fxHide="false">
    <mat-icon>more_vert</mat-icon>
  </a>

  <mat-menu x-position="before" #menu="matMenu" color="primary">

    <button mat-menu-item *ngIf="(isAuthenticated | async)" class="profile-image-menu">
      <img [src]="(user | async)?.photo" class="img-circle">
      <span>{{(user | async)?.firstName}} {{(user | async)?.lastName}}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
    <a mat-button href="https://github.com/Fazzani/Synker2" aria-label="GitHub Repository" *ngIf="(isAuthenticated | async)">
      <mat-icon>notifications_off</mat-icon>
      <span>Github</span>
    </a>
    <!-- Mobile actions Menu-->
    <button mat-menu-item routerLink="/epg" *ngIf="(isAuthenticated | async)" fxHide.gt-sm>
      <mat-icon>event</mat-icon>
      <span>Tv guide</span>
    </button>
    <button mat-menu-item routerLink="/sitepack" *ngIf="(isAuthenticated | async)" fxHide.gt-sm>
      <mat-icon>description</mat-icon>
      <span>Sites Pack</span>
    </button>
    <button mat-menu-item routerLink="/admin" *ngIf="(isAuthenticated | async)" fxHide.gt-sm>
      <mat-icon>settings</mat-icon>
      <span>Admin</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="subMenuTheme">Themes</button>

    <!-- Logout -->
    <button mat-menu-item (click)="signout()" *ngIf="(isAuthenticated | async)">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
  <!-- Themes submenu -->
  <mat-menu #subMenuTheme="matMenu">
    <button mat-menu-item (click)="onSetTheme('default-theme')">Default</button>
    <button mat-menu-item (click)="onSetTheme('dark-theme')">Dark</button>
    <button mat-menu-item (click)="onSetTheme('light-theme')">Light</button>
  </mat-menu>
</div>
