<mat-card color="primary" *ngIf="mediaServerStats$ | async; let server" fxFlex.gt-md="40" fxFlex.md="28"
          fxFlex.sm="80" fxFlex.xs="100">
  <mat-card-header>
    <mat-card-title>Media server stats</mat-card-title>
  </mat-card-header>
  <mat-card-content class="small-text">
    <ng-container>
      <p class="card-text">{{server.os.arch}}</p>
      <p class="card-text">{{server.os.platform}}</p>
      <p class="card-text">{{server.os.release}}</p>
      <p class="card-text">{{server.cpu.num}}</p>
      <p class="card-text">{{server.cpu.load}}</p>
      <p class="card-text">{{server.cpu.model}}</p>
      <p class="card-text">{{server.cpu.speed}}</p>
      <p class="card-text">{{server.mem.totle}}</p>
      <p class="card-text">{{server.mem.free}}</p>
      <p class="card-text">{{server.net.humanInBytes}}</p>
      <p class="card-text">{{server.net.humanOutBytes}}</p>
      <p class="card-text">{{server.nodejs.uptime}}</p>
      <p class="card-text">{{server.nodejs.version}}</p>
      <p class="card-text">{{server.nodejs.mem.rss}}</p>
      <p class="card-text">{{server.nodejs.mem.heapTotal}}</p>
      <p class="card-text">{{server.nodejs.mem.heapUsed}}</p>
      <p class="card-text">{{server.nodejs.mem.external}}</p>
      <p class="card-text">{{server.clients.accepted}}</p>
      <p class="card-text">{{server.clients.active}}</p>
      <p class="card-text">{{server.clients.idle}}</p>
      <p class="card-text">{{server.clients.rtmp}}</p>
      <p class="card-text">{{server.clients.http}}</p>
      <p class="card-text">{{server.clients.ws}}</p>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card color="primary" *ngIf="mediaServerStreamsStats$ | async; let streams" fxFlex.gt-md="40" fxFlex.md="28"
          fxFlex.sm="80" fxFlex.xs="100">
  <mat-card-header>
    <mat-card-title>Media server streams stats</mat-card-title>
  </mat-card-header>
  <mat-card-content class="small-text">
    <ng-container>
      <p class="card-text">{{streams | json}}</p>

    </ng-container>
  </mat-card-content>
</mat-card>
