<div class="site-container">
    <md-toolbar color="custom">
        <md-form-field floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter medias...">
        </md-form-field>
        <span class="spacer"></span>
        <a md-icon-button>
            <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
        </a>
        <a md-icon-button>
            <md-icon class="md-24" aria-label="Example icon-button with a heart icon">delete</md-icon>
        </a>
    </md-toolbar>
    <div class="example-loading-shade" *ngIf="dataSource.isLoadingResults">
        <md-spinner *ngIf="dataSource.isLoadingResults"></md-spinner>
    </div>
    <md-table #table [dataSource]="dataSource" mdSort mdSortActive="position" mdSortDisableClear mdSortDirection="asc">
        <!-- position Column -->
        <ng-container mdColumnDef="position">
            <md-header-cell *mdHeaderCellDef md-sort-header disableClear="true"> Position </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.position}} </md-cell>
        </ng-container>

        <!-- name Column -->
        <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef md-sort-header> Name </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>

        <!-- group Column -->
        <ng-container mdColumnDef="group">
            <md-header-cell *mdHeaderCellDef md-sort-header> Group </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.group}} </md-cell>
        </ng-container>
        <!-- Lang Column -->
        <ng-container mdColumnDef="lang">
            <md-header-cell *mdHeaderCellDef md-sort-header> Lang </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.lang}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="actions">
            <md-header-cell *mdHeaderCellDef> Actions </md-header-cell>
            <md-cell *mdCellDef="let row">
                <button md-icon-button color="warn" (click)="openDialog(row)">
                    <md-icon class="md-24" aria-label="Edit">edit</md-icon>
                  </button>
                <button md-icon-button color="primary" (click)="update(row)">
                    <md-icon class="md-24" aria-label="">favorite</md-icon>
                  </button>
                <button md-icon-button color="accent" (click)="update(row)">
                    <md-icon class="md-24" aria-label="">favorite</md-icon>
                  </button>
            </md-cell>
        </ng-container>
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
    <md-paginator #paginator [length]="dataSource.total" [pageIndex]="paginator.pageIndex" [pageSize]="paginator.pageSize" [pageSizeOptions]="paginator.pageSizeOptions">
    </md-paginator>
</div>