<form class="form-popin">
    <mat-form-field>
        <input matInput [(ngModel)]="mediaAndTvgSites[0].position" placeholder="Position..." name="media.position">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="mediaAndTvgSites[0].name" placeholder="Name..." name="media.name">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="mediaAndTvgSites[0].lang" placeholder="Lang..." name="media.lang">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="mediaAndTvgSites[0].group" placeholder="Group..." name="media.group">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="mediaAndTvgSites[0].url" placeholder="Url..." name="media.url" class="full-width">
    </mat-form-field>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tvg
            </mat-panel-title>
            <mat-panel-description>
                Media tvg informations
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- AutoComplte tvgMedia -->
        <mat-form-field class="full-width">
            <input matInput #filterTvg [matAutocomplete]="auto" aria-label="tvg" [(ngModel)]="filter" placeholder="Tvg..." name="mediaAndTvgSites[0].tvg" (keyup)="search(filter)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tvgSelectionChange($event, tvgmedia)" class="primary">
                <mat-option *ngFor="let tvgmedia of tvgMedias | async" [value]="tvgmedia">
                    <img aria-hidden src="{{tvgmedia.tvg.logo}}" />
                    {{tvgmedia.displayNames}} <small>  {{tvgmedia.defaultSite }}</small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="mediaAndTvgSites[0].tvg.id" placeholder="Tvg Id" name="mediaAndTvgSites[0].media.tvg.id">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="mediaAndTvgSites[0].tvg.name" placeholder="Tvg Name" name="mediaAndTvgSites[0].media.tvg.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="mediaAndTvgSites[0].tvg.tvgIdentify" placeholder="Tvg identifier" name="mediaAndTvgSites[0].media.tvg.tvgIdentify" readonly>
        </mat-form-field>
        <img [src]="mediaAndTvgSites[0].tvg.logo" class="logo-medium" />
    </mat-expansion-panel>
    <mat-action-row>
        <button mat-raised-button (click)="dialogRef.close()">Close</button>
    </mat-action-row>
</form>