<div class="site-container">
    <mat-toolbar color="custom">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter medias ref...">
            <!--<mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>-->
        </mat-form-field>
        <span class="spacer"></span>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Save" (click)="save()">save</mat-icon>
        </a>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Synchronize" (click)="synk()">system_update_alt</mat-icon>
        </a>
    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort>
        <!-- icon Column -->
        <ng-container matColumnDef="logo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Logo </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <img [src]="row.tvg?.logo" class="logo-grid" />
            </mat-cell>
        </ng-container>
        <!-- site_id Column -->
        <ng-container matColumnDef="displayNames">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Names </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.displayNames}} </mat-cell>
        </ng-container>

        <!-- site Column -->
        <ng-container matColumnDef="groups">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Groups </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.groups}} </mat-cell>
        </ng-container>

        <!-- site xmltv_id -->
        <ng-container matColumnDef="cultures">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cultures </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cultures}} </mat-cell>
        </ng-container>

        <!-- channel_name Column -->
        <ng-container matColumnDef="mediaType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Media Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.mediaType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="openDialog(row)">
                        <mat-icon class="mat-24" aria-label="Edit">edit</mat-icon>
                      </button>
                <button mat-icon-button color="primary" (click)="delete(row.id)">
                        <mat-icon class="mat-24" aria-label="">delete</mat-icon>
                      </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleSelected(row, $event)" [class.active]="row.selected"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.paginator.length" [pageIndex]="dataSource.paginator.pageIndex" [pageSize]="dataSource.paginator.pageSize"
        [pageSizeOptions]="dataSource.paginator.pageSizeOptions">
    </mat-paginator>
</div>