<mat-form-field>
    <input matInput [(ngModel)]="data.id" placeholder="id...">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="data.displayNames" (ngModelChange)="parseListText($event)" [ngModelOptions]="{updateOn: 'blur'}" placeholder="Name...">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="data.cultures" (ngModelChange)="parseListText($event)" [ngModelOptions]="{updateOn: 'blur'}" placeholder="Cultures...">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="data.groups" (ngModelChange)="parseListText($event)" [ngModelOptions]="{updateOn: 'blur'}" placeholder="Groups...">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="data.mediaType" placeholder="MediaType...">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="data.tvg.logo" placeholder="icon...">
    <img [src]="data.tvg.logo" class="logo-medium" />
</mat-form-field>
<mat-action-row>
    <button mat-raised-button (click)="dialogRef.close()">Close</button>
</mat-action-row>
