$primary-color-font: #79ffd2;
$primary-color-font-disabled: #697575;
$primary-color-font-dark: #0a1d2b;
$primary-color-bg: #0a1d2b;
$primary-color-bg-dark: #101323;
$primary-color-bg-accent: #39a22b;

