@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '_variables';

.docs-button {
    &[mat-button],
    &[mat-raised-button] {
        text-transform: uppercase;
    }
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mat-header-cell .mat-sort-header-sorted {
    color: #E6D3D3;
}

.mat-header-row,
.mat-row {
    min-height: 35px !important;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    &.logo-medium {
        max-height: 80px;
    }

    &.logo-grid {
        width: 33% !important;
        height: 33px;
        max-width: 100px !important;
    }

    &.logo-small {
        max-height: 30px;
    }
}

.mat-toolbar {
    &.mat-custom {
        background: $primary-color-bg-dark;
        color: $primary-color-font;
    }
}

.mat-table, .primary, .mat-stepper-horizontal, .mat-stepper-vertical {
    background: $primary-color-bg !important;
}

.site-container {
    .mat-table {
        margin-bottom: 56px;
    }
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: $primary-color-bg-dark;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-navbar {
    color: rgba(255, 255, 255, 0.87);
    position: relative;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.site-container {
    margin-top: 56px;
}

body {
    background-color: $primary-color-bg-dark;
}

// Add this to your global stylesheet after your theme setup
.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
}

.mat-card,
.mat-menu-panel,
.mat-dialog-container,
.mat-fab,
.mat-mini-fab,
.mat-raised-button,
.mat-datepicker-content,
.mat-select-content,
.mat-expansion-panel,
.mat-select-panel-done-animating {
    background: $primary-color-bg !important;
}

.active[role="row"] {
    background-color: $primary-color-font;
    color: $primary-color-bg-dark !important;
    transition: ease-in all 0.3s;

    .mat-cell {
        color: inherit !important;
    }
}

.disabled[role="row"] {
    color: $primary-color-font-disabled;
    transition: ease-in color 0.3s;

    .mat-cell {
        color: inherit !important;
    }
}

.full-width {
    width: 95%;
}

.mat-dialog-container {
    max-width: 80vw !important;
    display: flex !important;
    flex-direction: column;
}

.mat-chip:not(.mat-basic-chip) {
    background-color: $primary-color-bg-accent !important;
    color: $primary-color-font-dark
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.mat-option-text {
    img {
        max-width: 80px;
        vertical-align: middle;
    }
}

.global-fab-button {
    color: aliceblue !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

mat-dialog-container {
    .addnewplaylist, .mat-dialog-container {
        form {
            display: flex;
            flex-direction: column;
        }

        .mat-dialog-content {
            overflow: auto !important;
        }

        height: inherit;
    }

    .action-row-bottom {
        align-self: flex-end;
    }

    .mat-card-content {
        display: flex;
        flex-direction: column;
        text-align:left;
    }
}

.tab-content {
    overflow: auto;
    max-height: 500px;
    min-height: 100px;
}

.mat-snack-bar-container {
    background-color: $primary-color-font;
}

.mat-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    box-shadow: #121315 -1px -2px 10px 0px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $primary-color-bg-dark !important;
    justify-content: flex-end;

    .page-select {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $primary-color-font;

        .label {
            margin: 0 4px;
            width: 100%;
        }

        .mat-form-field {
            flex-grow: initial;
        }
    }
}

.mat-paginator {
    background-color: transparent !important;
    display: flex;
}

.mat-checkbox, mat-slide-toggle {
    display: inline-block;
    margin-left: 32px;
    flex: auto;
    min-width: 0;
    width: 180px;
}

.mat-grid-tile {
    .mat-figure {
        justify-content: flex-start !important;
        color: $primary-color-font;

        &:hover {
            background-color: aquamarine;
            color: $primary-color-bg-dark !important;
            transition: ease .5s background-color;
        }

        .group-name, a {
            padding-left: 5px;
            color:inherit;
        }
    }
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
