@import '~@angular/material/prebuilt-themes/purple-green.css';
@import 'variables';

/* .navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 8px 16px;
  } */

.docs-button {
    &[md-button],
    &[md-raised-button] {
        text-transform: uppercase;
    }
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mat-header-cell .mat-sort-header-sorted {
    color: #E6D3D3;
}

.mat-header-row,
.mat-row {
    min-height: 35px !important;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}

img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    &.logo-medium {
        max-height: 80px;
    }
    &.logo-grid {
        width: 33% !important;
        height: 38px;
    }
    &.logo-small {
        max-height: 30px;
    }
}

.mat-toolbar {
    &.mat-custom {
        background: $primary-color-bg-dark;
        color: $primary-color-font;
    }
}

.mat-table {
    background: $primary-color-bg !important;
}

.site-container {
    .mat-table {
        margin-bottom: 56px;
    }
}

.mat-paginator {
    box-shadow: #121315 -1px -2px 10px 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $primary-color-bg-dark !important;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: $primary-color-bg-dark;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-navbar {
    color: rgba(255, 255, 255, 0.87);
    position: relative;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.site-container {
    margin-top: 56px;
}

body {
    background-color: $primary-color-bg-dark;
}

// Add this to your global stylesheet after your theme setup
.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
}

.mat-card,
.mat-menu-panel,
.mat-dialog-container,
.mat-fab,
.mat-mini-fab,
.mat-raised-button,
.mat-datepicker-content,
.mat-select-content,
.mat-expansion-panel,
.mat-select-panel-done-animating {
    background: $primary-color-bg !important;
}