<div class="site-container">
  <mat-card class="user-card">
    <mat-card-content>
      <form #UserRegister="ngForm" novalidate fxLayout="row" fxLayoutGap="20px">
        <img [src]="user.photo" class="logo-medium" fxFlex="10" />
        <div fxLayout="column" fxFlex="50" fxFlex.gt-sm="100">
          <mat-select placeholder="Gender..." [(ngModel)]="user.gender" name="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="user.firstName" name="firstName" placeholder="Firstname..." readonly>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="user.lastName" name="lastName" placeholder="Lastname..." readonly>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="user.email" name="email" placeholder="Email..." readonly>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" name="Birthdate" placeholder="Birthdate..." [formControl]="birthdate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div fxLayout="column" fxFlex fxHide.gt-sm>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
