<div class="site-container">
    <mat-toolbar color="custom">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter medias...">
            <!--<mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>-->
        </mat-form-field>
        <span class="spacer"></span>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Update" matTooltip="Update" (click)="reload()">cached</mat-icon>
        </a>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Save" matTooltip="Save" (click)="save()">save</mat-icon>
        </a>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Mes TvgSites" matTooltip="Mes TvgSites" (click)="openUpdateTvgSite()">style</mat-icon>
        </a>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Bulk Update" matTooltip="Bulk Update" (click)="openUpdateListDialog()">done</mat-icon>
        </a>
        <a mat-icon-button>
            <mat-icon class="mat-24" aria-label="Select All" matTooltip="Select All" (click)="selectAll()">select_all</mat-icon>
        </a>
        <!-- Menu -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteSelected()">
                <mat-icon class="mat-12">delete_sweep</mat-icon>
                <span>Delete All</span>
            </button>
            <button mat-menu-item (click)="synk()">
                <mat-icon class="mat-12" aria-label="Synchronize" matTooltip="Synchronize">autorenew</mat-icon>
                <span>Check Synchronize</span>
            </button>
            <button mat-menu-item (click)="matchFiltredTvgSites()">
                <mat-icon class="mat-12" aria-label="Match Filtred tvgSites" matTooltip="Match Filtred tvgSites">settings_ethernet</mat-icon>
                <span>Match Filtred tvgSites</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="mat-12" aria-label="Match tvg" matTooltip="" (click)="matchTvg()">settings_ethernet</mat-icon>
                <span>Match tvg specified in medias</span>
            </button>
            <button mat-menu-item (click)="executeHandlers()">
                <mat-icon class="mat-12" aria-label="Execute Handlers" matTooltip="Execute Handlers">pan_tool</mat-icon>
                <span>Execute Handlers</span>
            </button>
            <button mat-menu-item (click)="openDiffPlaylist()">
                <mat-icon class="mat-12" aria-label="Diff with source" matTooltip="Diff with source">compare_arrows</mat-icon>
                <span>Diff with source</span>
            </button>
            <button mat-menu-item (click)="matchPicons()">
                <mat-icon class="mat-12" aria-label="Match picons" matTooltip="Match picons">format_paint</mat-icon>
                <span>Match picons</span>
            </button>
        </mat-menu>

    </mat-toolbar>
    <mat-table #table [dataSource]="dataSource" matSort class="noselect">
        <!-- icon Column -->
        <ng-container matColumnDef="tvg.logo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Logo </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <img [src]="row.tvg?.logo" class="logo-grid" />
            </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row?.name}} </mat-cell>
        </ng-container>
        <!-- DisplayName Column -->
        <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DisplayName </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row?.displayName}} </mat-cell>
        </ng-container>
        <!-- Lang Column -->
        <ng-container matColumnDef="lang">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lang </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row?.lang}} </mat-cell>
        </ng-container>
        <!-- Group Column -->
        <ng-container matColumnDef="group">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row?.group}} </mat-cell>
        </ng-container>

        <!-- tvg.name -->
        <ng-container matColumnDef="tvg.name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tvg name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row?.tvg?.name}} </mat-cell>
        </ng-container>

        <!-- tvg.identify -->
        <ng-container matColumnDef="tvg.tvgIdentify">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tvg id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row?.tvg?.tvgIdentify}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openDialog(row)" matTooltip="Edit">
                    <mat-icon class="mat-24" aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(row.id)" matTooltip="Remove">
                    <mat-icon class="mat-24" aria-label="">delete</mat-icon>
                </button>
                <!--<button mat-icon-button color="primary" (click)="addToMediaRef(row)" matTooltip="Add to mediaRef">
                    <mat-icon class="mat-24" aria-label="">add</mat-icon>
                </button>-->
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleSelected(row, $event)" [class.active]="row.selected" class="noselect"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="paginator.pageSizeOptions" [pageSize]="this.paginator.pageSize" class="noselect">
    </mat-paginator>
</div>