<h2 md-dialog-title>Login</h2>
<form #UserLogin="ngForm" (ngSubmit)="login(UserLogin.form.value)">
    <md-dialog-content>
        <md-form-field>
            <input mdInput [(ngModel)]="username" name="username" placeholder="Username...">
        </md-form-field>
        <md-form-field>
            <input mdInput type="password" [(ngModel)]="password" name="password" placeholder="Password...">
        </md-form-field>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-raised-button md-dialog-close>Cancel</button>
        <button md-raised-button [disabled]="!UserLogin.form.valid">Login</button>
    </md-dialog-actions>
</form>