<h2 md-dialog-title>Register</h2>
<form #UserRegister="ngForm" (ngSubmit)="register(UserRegister.form)" novalidate>
    <md-dialog-content fxLayout='column'>
        <div fxLayout='row'>
            <md-select placeholder="Gender">
                <md-option *ngFor="let gender of data.genders" [value]="data.gender">
                    {{ gender.viewValue }}
                </md-option>
            </md-select>
        </div>
        <div fxLayout='row'>
            <md-form-field>
                <input mdInput [(ngModel)]="data.firstname" name="firstname" placeholder="Firstname..." required>
            </md-form-field>

            <md-form-field>
                <input mdInput [(ngModel)]="data.lastname" name="lastname" placeholder="Lastname..." required>
            </md-form-field>
        </div>
        <div fxLayout='row'>
            <md-form-field>
                <input mdInput [(ngModel)]="data.email" name="email" placeholder="Email..." required>
            </md-form-field>
            <!-- <md-form-field>
            <input mdInput [mdDatepicker]="birthday" name="birthday" placeholder="Choose a Birthday">
            <md-datepicker-toggle mdSuffix [for]="birthday"></md-datepicker-toggle>
            <md-datepicker #picker></md-datepicker>
        </md-form-field> -->
            <md-form-field>
                <input mdInput [(ngModel)]="data.photo" name="photo" placeholder="Photo...">
                <img [src]="data.photo" class="logo-medium" />
            </md-form-field>
        </div>
        <div fxLayout='row'>
            <md-form-field>
                <input mdInput [(ngModel)]="data.username" name="username" placeholder="Username..." required>
            </md-form-field>
            <md-form-field>
                <input mdInput type="password" [(ngModel)]="data.password" validateEqual="confirmPassword" reverse="true" #password="ngModel"
                    name="password" placeholder="Password..." required>
            </md-form-field>
            <md-form-field>
                <input mdInput type="password" [(ngModel)]="password2" name="password2" placeholder="Confirm Password..." validateEqual="password"
                    reverse="false" #confirmPassword="ngModel" required>
            </md-form-field>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-raised-button md-dialog-close>Cancel</button>
        <button md-raised-button (click)="register(UserRegister.form)" [disabled]="!UserRegister.form.valid">Register</button>
    </md-dialog-actions>
    <pre>
</pre>
</form>