<div class="site-container" ng-reflect-class-base="site-container">
    <mat-tab-group color="warn">
        <mat-tab label="Gallery">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Playlists</mat-card-title>
                    <mat-card-subtitle>Playlists</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="../../../../wwwroot/assets/img/Lo gomakr_4958qa.png" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <ul class="collection">
                        <li *ngFor="let playlist of playlists?.results" class="collection-item avatar">
                            <i class="material-icons circle green">insert_chart</i>
                            <span class="title">{{ playlist.freindlyname }}</span>
                            <p>
                                <mat-chip-list>
                                    <mat-chip>{{playlist.createdDate}}</mat-chip>
                                    <mat-chip>{{playlist.updatedDate}}</mat-chip>
                                    <mat-chip>{{playlist.cron}}</mat-chip>
                                </mat-chip-list>
                                <a class="dropdown-item pointer" [attr.href]="null" (click)="copyPublicLink(playlist.publicUrl)" ngxClipboard [cbContent]="playlist.publicUrl" i18n><i class="material-icons">content_copy</i></a> 
                            </p>
                            <a [routerLink]="['/playlist', playlist.publicId]" class="secondary-content" aria-label="detail">
                                <i class="material-icons">send</i>
                            </a>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
        <mat-tab label="Settings">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="../../../../wwwroot/assets/img/Logomakr_4958qa.png" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
    </mat-tab-group>

    <span class="done">
        <button mat-fab class="global-fab-button" (click)="openDialogAddNewPlaylist()">
            <mat-icon>add</mat-icon>
        </button>
    </span>
</div>