<!--<md-menu x-position="before" #menu="mdMenu">
       <button md-menu-item>Option 1</button>
       <button md-menu-item>Option 2</button>
   </md-menu>

   <md-card>
       <button md-button>All</button>
       <button md-raised-button>Of</button>
       <button md-raised-button color="primary">The</button>
       <button md-raised-button color="accent">Buttons</button>
   </md-card>-->
<md-tab-group>
    <md-tab label="Gallery">
        sfsd
    </md-tab>
    <md-tab label="Settings">
        sdfsdf
    </md-tab>
    
</md-tab-group>

<span class="done">
    <button md-fab>
        <md-icon>check circle</md-icon>
    </button>
</span>
