<div class="site-container" ng-reflect-class-base="site-container">
    <md-tab-group color="warn">
        <md-tab label="Gallery">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>Shiba Inu</md-card-title>
                    <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <!-- <img md-card-image src="../../../../wwwroot/assets/img/Logomakr_4958qa.png" alt="Photo of a Shiba Inu"> -->
                <md-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button>LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>
        </md-tab>
        <md-tab label="Settings">
            <md-card class="example-card">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>Shiba Inu</md-card-title>
                    <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <!-- <img md-card-image src="../../../../wwwroot/assets/img/Logomakr_4958qa.png" alt="Photo of a Shiba Inu"> -->
                <md-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button>LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>
        </md-tab>
    </md-tab-group>

    <span class="done">
    <button md-fab>
        <md-icon>check circle</md-icon>
    </button>
</span>
</div>