<nav class="navbar">
    <a mat-button class="docs-button" routerLink="/" aria-label="Synker">
        <span>Synker beta</span>
    </a>
    <a mat-button class="docs-button" routerLink="/tvgmedia">Medias</a>
    <a mat-button class="docs-button" routerLink="/epg">EPG</a>
    <a mat-button class="docs-button" routerLink="/xmltv">Xmltv</a>
    <a mat-button class="docs-button" routerLink="/sitepack">Site Pack</a>
    <div class="spacer"></div>

    <a mat-icon-button *ngIf="(isAuthenticated | async)" aria-hidden="true">
        <span class="notif-number">{{messages?.rowCount}}</span>
        <mat-icon>message</mat-icon>
        <span class="mderial-icons mdl-badge mdl-badge--overlap" matTooltip="You have {{messages?.rowCount}} messages !" [attr.data-badge]="messages?.rowCount">message</span>
    </a>

    <a mat-button class="docs-button" [routerLink]="['/signin', {modal: 'true', 'dialog': 'signin'}]" aria-label="Sign in" *ngIf="!(isAuthenticated | async)">
        <mat-icon>perm_identity</mat-icon>
        <span>Sign in</span>
    </a>
    <a mat-button class="docs-button" [routerLink]="['/register', {modal: 'true', 'dialog': 'register'}]" aria-label="Register"
       *ngIf="!(isAuthenticated | async)">
        <mat-icon>fingerprint</mat-icon>
        <span>Register</span>
    </a>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" *ngIf="(isAuthenticated | async)">
        <img [src]="(user | async)?.photo" class="profile-image img-circle">
    </a>
    <a mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(isAuthenticated | async)">
        <mat-icon>more_vert</mat-icon>
    </a>

    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/signin', {modal: 'true', 'dialog': 'signin'}]" *ngIf="!(isAuthenticated | async)">
            <mat-icon>perm_identity</mat-icon>
            <span>Login</span>
        </button>
        <button mat-menu-item *ngIf="(isAuthenticated | async)" class="profile-image-menu">
            <img [src]="(user | async)?.photo" class="img-circle">
            <span>{{(user | async)?.firstName}} {{(user | async)?.lastName}}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
        <a mat-button href="https://github.com/Fazzani/Synker2" aria-label="GitHub Repository" *ngIf="(isAuthenticated | async)">
            <mat-icon>notifications_off</mat-icon>
            <span>Github</span>
        </a>
        <button mat-menu-item (click)="signout()" *ngIf="(isAuthenticated | async)">
            <mat-icon>power_settings_new</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-menu>
</nav>