<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar">
    <a md-button class="docs-button" routerLink="/" aria-label="Synker">
        <img class="docs-angular-logo svglogo"
             src="../../../../../wwwroot/assets/img/Mj2wCGp6m8.svg"
             alt="Synker">
        <span>Synker</span>
    </a>
    <a md-button class="docs-button" routerLink="/tvgmedia">Medias</a>
    <a md-button class="docs-button" routerLink="/epg">EPG</a>
    <div class="spacer"></div>

    <a md-icon-button *ngIf="(isAuthenticated | async)" aria-hidden="true">
        <!-- <span class="notif-number">{{messages?.rowCount}}</span>
        <md-icon>message</md-icon> -->
        <span class="material-icons mdl-badge mdl-badge--overlap" mdTooltip="You have {{messages?.rowCount}} messages !" [attr.data-badge]="messages?.rowCount">message</span>
    </a>

    <a md-button class="docs-button" [routerLink]="['/signin', {modal: 'true', 'dialog': 'signin'}]" aria-label="Sign in" *ngIf="!(isAuthenticated | async)">
        <md-icon>perm_identity</md-icon>
        <span>Sign in</span>
    </a>
    <a md-button class="docs-button" [routerLink]="['/register', {modal: 'true', 'dialog': 'register'}]" aria-label="Register"
        *ngIf="!(isAuthenticated | async)">
        <md-icon>fingerprint</md-icon>
        <span>Register</span>
    </a>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" *ngIf="(isAuthenticated | async)">
        <img [src]="(user | async)?.photo" class="profile-image img-circle">
    </a>
    <a md-icon-button [mdMenuTriggerFor]="menu" *ngIf="(isAuthenticated | async)">
        <md-icon>more_vert</md-icon>
    </a>

    <md-menu #menu="mdMenu">
        <button md-menu-item [routerLink]="['/signin', {modal: 'true', 'dialog': 'signin'}]" *ngIf="!(isAuthenticated | async)">
            <md-icon>perm_identity</md-icon>
            <span>Login</span>
        </button>
        <button md-menu-item *ngIf="(isAuthenticated | async)">
            <img [src]="(user | async)?.photo" class="profile-image img-circle">
            <span>{{(user | async)?.firstName}} {{(user | async)?.lastName}}</span>
        </button>
        <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
        </button>
        <a md-button href="https://github.com/Fazzani/Synker2" aria-label="GitHub Repository" *ngIf="(isAuthenticated | async)">
            <md-icon>notifications_off</md-icon>
            <span>Github</span>
        </a>
        <button md-menu-item (click)="signout()" *ngIf="(isAuthenticated | async)">
            <md-icon>power_settings_new</md-icon>
            <span>Sign out</span>
        </button>
    </md-menu>
</nav>